.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgb(193, 235, 252);
    min-height: 100vh;
}

.right {
    width: 60%;
    background-color: rgb(0, 164, 230);
    min-height: 100vh;
}
